<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<button id="test">测试</button>
<script>
    var postdata = {
        current:1,
        count:9
    }
    $("#test").click(function () {
        $.ajax({
            type        :'POST',
            url         :'/ab',
            async       :false,
            data        :{'data':JSON.stringify(postdata)},
            success     :function (result) {
               console.log(result);
            }
        });
    });
</script>
</body>
</html>