<footer class="bs-docs-footer">
    <div class="container">
        <ul class="bs-docs-footer-links">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Sample</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</footer>